<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>Social Search</h1>
      <p class="lead">Search your favorite social sites!</p>
      <div class="search-input">
        <div class="col-lg-6 col-md-offset-3">
          <form role="form" ng-submit="search()">
            <div class="input-group">
              <input type="text" ng-model="query" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

<div class="cont-media">
  <div ng-repeat="post in response">
    <div class="tweet-box" ng-if="post.loc === 'twitter'">
      <blockquote class="twitter-tweet" data-conversation="none" lang="en">
        <p>{{post.text}}</p>
        &mdash; {{post.name}} (@{{post.user}})
        <a href="{{post.link}}"></a>
      </blockquote>
      <div id="twitter-widget-src">
        <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    <div class="insta-box" ng-if="post.loc === 'instagram'">
      <div class="i-head">
        <img src="{{post.proPic}}" class="prof-pic">
        <a href="http://instagram.com/{{post.user}}"><b>{{post.user}}</b></a>
        <a href="{{post.link}}">
          <img src="/assets/images/instagram.png" class="i-logo">
        </a>
      </div>
      <div>
        <img src="{{post.picture}}" class="i-pic">
      </div>
    </div>
  </div>
  
</div>

<div id="footer">
  <footer class="footer">
    <div class="container">
      <p>
        Social Search Inc. |
        <a href="https://github.com/socialSearch/socialSearch">Github</a> |
        <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
      </p>
    </div>
  </footer>
</div>
