.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: 1px solid #555;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    height: 35px;
    text-align: center;
    padding: 5px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}

#filter-buttons {
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #C3C3C3;
    padding: 5px 0;
    /*width: 350px;*/
    margin: auto;
    position: relative;
    top: -45px;
    z-index: -1;
}

.width-buttons {
    width: 350px;
}

#filter {
    margin: auto;
    background-color: #C3C3C3;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    width: 175px;
    cursor: pointer;
    position: relative;
    top: -45px;
    z-index: 1;
}

#filter-text {
    color: white;
    font-size: x-small;
    width: 14px;
    margin: auto;
}

#filter-buttons {
    text-align: center;
}

#buttons {
    display: inline-block;
    margin: auto;
}

#twitter-button {
    background-color: #55ACEE;
    color: white;
    border-color: #55ACEE;
}

#instagram-button {
    background-color: #49769C;
    color: white;
    border-color: #49769C;
}

#reddit-button {
    background-color: #FF4500;
    color: white;
    border-color: #FF4500;
}

.btn:focus {
  outline: none;
}

#loading {
    border: 1px solid #555;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top: -46px;
    position: relative;
    width: 100px;
    margin: auto;
    background-color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#loading-text {
    font-size: small;
    margin: auto;
    width: 84px;
}

.cont-media {
    -webkit-column-width: 25em;
    -moz-column-width: 25em;
    column-width: 25em;
    position: absolute;
    top: 255px;
    width: 100%;
    /*height: 100%;*/
    /*use height 100% and set width with jquery*/
}

.tweet-box {
    display: inline-block;
    margin:  -5px 5px -5px 5px;
    max-width : 460px;
}

.prof-pic {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 2px;
}

.insta-box {
    padding: 6px;
    height: 510px;
    max-width: 441px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
}

.i-logo {
    width: 36px;
    height: 36px;
    float: right;
}

.i-head {
    border-bottom: 1px solid #ddd;
    padding: 0 0 7px;
    margin: 0 0 8px;
}

.i-pic {
    width: 100%;
    height: 100%;
}

.reddit-box {
    padding: 6px;
    height: 110px;
    /* use jqery to set min-width of all boxes to screen size - x (margin or whatever)*/
    max-width: 445px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
    font-size: large;
}

.r-logo {
    height: 90px;
    margin-top: 2px;
    padding: 0 5px 0 0;
    border-right: 1px solid #555;
}

.r-float {
    float: left;
}

.r-content {
    margin-left: 5px;
    max-width: 365px;
    top: 0px;
}

.r-info {
    position: absolute;
    bottom: 5px;
    margin-left: 5px;
    max-width: 365px;
    font-size: small;
}

.r-holder {
    position: relative;
    height: 100px;
    width: 356px;
}